body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

.schedule {
  margin: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

p {
  margin: 10px 0;
}

span {
  font-weight: bold;
}
